<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<springProperty name="LOGGING_LEVEL_ROOT" scope="context" source="logging.level.root"/>
	<springProperty name="LOGGING_PATTERN_CONSOLE" scope="context" source="logging.pattern.console" defaultValue="${CONSOLE_LOG_PATTERN}"/>
	<springProfile name="logging-console">
		<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<pattern>${LOGGING_PATTERN_CONSOLE}</pattern>
				<charset>UTF-8</charset>
			</encoder>
		</appender>
	</springProfile>
	<root level="${LOGGING_LEVEL_ROOT}">
		<springProfile name="logging-console">
			<appender-ref ref="CONSOLE"/>
		</springProfile>
	</root>
</configuration>
